@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #242424;
  --primary: #ff5858;
}

.dark {
  --background: #242424;
  --foreground: #ffffff;
  --primary: #ff5858;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

/* Scrollbar Hide */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Loader Animation */
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
}
.animate-wave {
  animation: wave 0.5s infinite ease-in-out;
}
.animate-wave.delay-0 {
  animation-delay: 0s;
}
.animate-wave.delay-200 {
  animation-delay: 0.2s;
}
.animate-wave.delay-400 {
  animation-delay: 0.4s;
}
